.container-extended{
    background-color: whitesmoke;
    height: calc(100vh - 3px);
    overflow: hidden;
}

.component{
    background-color: white;
    height: 560px;
}

.create-student{
    height: 16%;
}

.students-list{
    height: 82%;
    
}