.container-course__table{
    height: 100%;
}
.table-courses-overflow{
    overflow-y: auto;
    height: 85%;
}
.table-courses-font-size{
    font-size: small;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 24;
    
    cursor: pointer;
}
