.container-course{
    height: 100%;
}

.title-course{
    color: #1933a6;
}

.msg-alert-course{
    font-size: small;
    color: crimson;
}

.create-max-with{
    width: 100%;
}

.course-details-max-height{
    height: 45% ;
    overflow-y: auto;
}

.course-info-max-height{
    height: 80%;
}