hr{
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.course-info-row{
    height: 55%;
}

.course-info-container{
    height: 540px;
}

.details-text-title__size{
    font-size: 16px;
}
.details-text-body__size{
    font-size: 14px;
}

