.container-extended{
    background-color: whitesmoke;
    height: calc(100vh - 3px);
    overflow: hidden;
}

.component{
    background-color: white;
    height: 560px;
}

.create-course{
    height: 16%;
}

.course-list{
    height: 82%;
}

.btn{
    width: 100px !important;
}
@media (max-width: 1024px) {
    .btn {
        height: 24px !important;
        width: 60px !important;
        font-size: 10px !important;
    }
    .h4{
        font-size: 18px !important;
    }
    .fw-bold{
        font-size: 14px !important;
    }
    body{
        font-size: 12px !important;
    }
}
.btn-primary{
    background-color: #1E3C70 !important;
    border-color: black !important;
}

.btn-warning{
    background-color: #3365BD !important;
    border-color: #1E3C70 !important;
    color: aliceblue !important;
}

.btn-danger{
    background-color: #405270 !important;
    border-color: #3365BD !important;
    color: aliceblue !important;
}

body{

    font-family: 'Lato' !important;
    font-weight: 300;
}
.fw-bold{
    font-weight: 200 !important;
    font-size: 12px !important;
}

